<!DOCTYPE html>
<html>
<head>
  <title>GemTD</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="nav">
	<ul>
		<li class"refresh"><%= link_to "Home", root_path %></li>
	<% if user_signed_in? %>
		<li class="refresh"><%= link_to "Log Out", session_url(protocol: Rails.env.production? ? 'https' : 'http'), method: 'delete' %></li>
	<% else %>
		<li><%= link_to "Log In", new_session_path %></li>
		<li><%= link_to "Sign Up", new_user_path %></li>
	<% end %>
	</ul>
</div>

<div id="left">
  <h2>Instructions</h2>
  <ul id="instructions">
    <li>Press "r" to place a tower.</li>
    <li>You may place up to 5 towers.</li>
    <li>Each color corresponds to a gem type.</li>
    <li>After placing towers, click one to select it and press "k" to keep it.</li>
  </ul>
</div>
<div id="right">
</div>

<div id="main">

<%= yield %>

</div>
<div id="footer">
</div>

</body>
</html>
