<!DOCTYPE html>
<html>
<head>
  <title>GemTD</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="nav">
	<ul>
		<li class"refresh"><%= link_to "Home", root_path %></li>
	<% if user_signed_in? %>
		<li class="refresh"><%= link_to "Log Out", session_url(protocol: Rails.env.production? ? 'https' : 'http'), method: 'delete' %></li>
	<% else %>
		<li><%= link_to "Log In", new_session_path %></li>
		<li><%= link_to "Sign Up", new_user_path %></li>
	<% end %>
	</ul>
</div>

<div id="left">
</div>
<div id="right">
</div>

<div id="main">

<%= yield %>

</div>
<div id="footer">
</div>

</body>
</html>
